<%= simple_form_for project do |f| %>
  <%= f.input :title %>
  <%= f.input :deadline, as: :string, input_html: { class: "date_picker" } %>
  <p class="btn btn-normal finalizeproject" disabled> Add your team </p>
  <br>
  <p> ------------ </p>
  <%= f.input :user_project, as: :image_user %>

    <p> --------- </p>
  <%= f.submit "Create your project", id: "registered", class: "btn btn-normal adding" , disabled: "disabled" %>
<% end %>
