<!-- changement de julie : suppression du remote: remote sur le formulaire -->
<div class="project-creation">
  <%= simple_form_for project do |f| %>
  <div class="input-row">
    <div class="validation-name">
      <%= f.input :title %>
    </div>
    <div class="validation-deadline">
      <%= f.input :deadline, as: :string, input_html: { class: "date_picker" } %>
    </div>
  </div>
  <div class="description-of-the-project">
    <%= f.input :description, as: :text %>
  </div>
  <h4 class="what-to-do-now">Time to upload the <strong class="BIGNAME">LOGO</strong> of the project and the <strong class="BIGNAME">BRIEF</strong> of your project</h4>
  <div class="upload-row">
    <div class="photo-of-the-project">
      <%= f.input :photo, label: " ."%>
    </div>
      <%= f.input :photo_cache, as: :hidden %>
    <div class="brief-of-the-project">
      <%= f.input :document, as: :attachinary, label: " ." %>
    </div>
  </div>
  <div class="description-row">
    <div class="description-of-action">Choose a logo...</div>
    <div class="description-of-action">Choose a brief...</div>
  </div>

    <h4 class="what-to-do-now">Select the members of your agency who will work on this project</h4>
    <div class="team-row">
        <% User.all.each_with_index do |user, index| %>
            <% unless current_user == user %>
              <%= cl_image_tag user.photo, width: 50, height: 50, class: "teamember", id: user.id, data: {:toggle => "popover", :placement => "top", :content => user.first_name} %>
            <% end %>
        <% end %>
   </div>

    <div id="user-projects"><!-- used by js --></div>
    <div id="milestones-project"><!-- used by js --></div>
    <div class="text-right">
      <%= f.submit "Create your project", id: "registered", class: "btn btn-orange" %>
    </div>
  <% end %>
</div>
