<div class="banner-home">
  <div class="banner-content">
    <h1 class="title-wakatepee">WKTP</h1>
    <h2 class="tagline">Keep your project on track</h2>
    <%= link_to t(".sign_in", default: "Start today"), new_user_registration_path, class: "btn-orange-home" %>
  </div>
</div>
<div class="arrow bounce">
</div>

<!-- First wrapper with feature-->
<div class="wrapper wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
       <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-holding-hands-6336f436.svg" alt="illustration-holding-hands">
       <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-lollipops-79a0f639.svg" alt="illustration-lollipops" style="display: none;">
      </figure>
    </div>
  <div class="wrapper-column wrapper-column-main">
    <h1>Collaborate</h1>
      <p class="p-description"> Add team member easily and simplify your working process.
      </p>
      <p>
      <%= link_to t(".sign_in", default: "Get started"), new_user_registration_path, class: "btn-orange-home" %>
      </p>
    </div>
   </div>
</div>

<!-- Second wrapper with sreen-shot-->
<div class="features-block">
  <div class="features-block-images-container">
    <div class="features-block-image">
      <%= image_tag "screenshot.png" %>
    </div>
</div>
  <div class="features-block-navigation">
    <div class="features-menu-container">
    <li>Create project super fast</li>
    <br>
    <li>Add team members easily</li>
    <br>
    <li>Keep people busy</li>
    <br>
    <li>React fast to your team’s needs's</li>
    <br>
    <li>Manage it in one click</li>
    </div>
  </div>
  </div>
</div>

<!-- Third wrapper with feature-->
<div class="wrapper wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns wrapper-columns-reverse">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
        <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-bulb-eb9e23bc.svg" alt="illustration-bulb"> <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-waffles-59231c8f.svg" alt="illustration-waffles" style="display: none;">
      </figure>
    </div>
  <div class="wrapper-column wrapper-column-main">
    <h1>Track</h1>
      <p class="p-description"> Track projects from start to finish. Responsibilities and next steps are clear, so you can shoot for the moon and get there.
      </p>
      <p>
      <%= link_to t(".sign_in", default: "Learn more"), new_user_registration_path, class: "btn-orange-home" %>
      </a>
      </p>
    </div>
   </div>
</div>

<!-- Fourth wrapper with feature-->
<div class="wrapper-blue wrapper-with-columns wrapper-narrow">
  <div class="wrapper-columns">
    <div class="wrapper-column wrapper-column-grow">
      <figure class="illustration illustration-margin">
        <img data-ga-variation="0" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-ghost-013f2959.svg" alt="illustration-ghost">
        <img data-ga-variation="1" src="https://d3ig6ye31m6dj7.cloudfront.net/images/illustration-chat-7d002e63.svg" alt="illustration-chat" style="display: none;">
      </figure>
    </div>
    <div class="wrapper-column wrapper-column-main">
      <h1 data-ga-variation="0">Get result</h1>
      <p class="p-description text-white"> Everyone knows what they should be doing and why.
      </p>
      <p data-ga-variation="1" style="display: none;"> Share up-to-date project timelines with your most demanding clients. So they can look up the state of the project anytime.</p>
      <p><%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "btn-transparent-home" %></p>
    </div>
  </div>
</div>

<div class="container">
    <h2 class="tagline-center">Great teams get great results with</h2>
    <h2 class="tagline-firm">WAKATEPEE</h2>
  <div class="row-entreprise">
    <div class="col-xs-6-col-md-2">
      <img class="equal-elem" src="https://luna1.co/e9cd66.png" alt="The New Yorker" title="The New Yorker Logo" style="height: 42px;" data-eqh-postop="1039">

      <img class="equal-elem" src="https://luna1.co/logos/salesforce.png" alt="Salesforce" title="Salesforce Logo" style="height: 42px;" data-eqh-postop="1039">

      <img class="equal-elem" src="https://luna1.co/d10ad9.png" alt="Columbia" title="Columbia Logo" style="height: 42px;" data-eqh-postop="1039">

      <img class="equal-elem" src="https://luna1.co/7edfdb.png" alt="TED" title="TED Logo" style="height: 42px;" data-eqh-postop="1039">

      <img class="equal-elem" src="https://luna1.co/ce71c4.png" alt="Khan Academy" title="Khan Academy Logo" style="height: 42px;" data-eqh-postop="1039">

      <img class="equal-elem" src="https://luna1.co/logos/uber.png" alt="Uber" title="Uber Logo" style="height: 42px;" data-eqh-postop="1039">
    </div>
  </div>
</div>




