<div class="big-padded">
  <div class="container">
    <div class="row">
    <h1 class='text-center'>My projects</h1>
      <% @projects_admin.each do |project| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to project_path(project) do %>
        <div class="card">
          <div class="card-category">
            <%= project.title %>
          </div>
          <div class="card-description">
            <h2><%= project.deadline.strftime("%m/%d/%Y") %></h2>
          </div>
          <% project.users.each do |user| %>
            <% unless project.admin == user %>
              <%= cl_image_tag user.photo , class: "card-user avatar" %>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to new_project_path do %>
        <div class="card-add">
          <%= image_tag "plus.svg", class: "card-plus" %>
        </div>
        <% end %>
      </div>
    </div>
    <h1 class='text-center'>My contributions</h1>
      <% @projects_collaborator.each do |project| %>
        <% unless project.admin == current_user %>
          <div class="col-xs-12 col-sm-6">
            <%= link_to project_path(project) do %>
              <div class="card">
                <div class="card-category">
                  <%= project.title %>
                </div>
                <div class="card-description">
                  <h2><%= project.deadline.strftime("%m/%d/%Y") %></h2>
                </div>
                <% project.users.each do |user| %>
                  <% unless project.admin == user %>
                    <%= cl_image_tag user.photo , class: "card-user avatar" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
