
<div class="big-padded">
  <div class="container">
    <div class="row">
    <h1 class='text-center small-padded'>My projects</h1>
      <% @projects_admin.sort_by(&:deadline).each do |project| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to project_path(project), class: "no-underline" do %>
         <div class="new-card">
                <div class="top-card">
                    <%= cl_image_tag project.photo , class: "company-card" %>
                  <div class="deadline">
                    <p><%= project.deadline.strftime("%m/%d/%Y") %></p>
                  </div>
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                  </div>
                <div class="bottom-card">
                  <h4><%= project.title %></h4>
                  <div class="users-card">
                    <% project.users.each do |user| %>
                      <% unless project.admin == user %>
                        <%= cl_image_tag user.photo , class: "avatar" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
        <% end %>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to new_project_path do %>
        <div class="card-add">
          <%= image_tag "plus.svg", class: "card-plus" %>
        </div>
        <% end %>
      </div>
    </div>
    <h1 class='text-center small-padded'>My contributions</h1>
      <% @projects_collaborator.sort_by(&:deadline).each do |project| %>
        <% unless project.admin == current_user %>
          <div class="col-xs-12 col-sm-6">
            <%= link_to project_path(project), class: "no-underline" do %>
              <div class="new-card">
                <div class="top-card">
                    <%= cl_image_tag project.photo , class: "company-card" %>
                  <div class="deadline">
                    <p><%= project.deadline.strftime("%m/%d/%Y") %></p>
                  </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                  </div>
                <div class="bottom-card">
                  <h4><%= project.title %></h4>
                  <div class="users-card">
                    <% project.users.each do |user| %>
                      <% unless project.admin == user %>
                        <%= cl_image_tag user.photo , class: "avatar" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



