<div class="big-padded">
  <div class="container">
    <div class="row">
      <div class="btn-orange-index-projet" data-toggle="modal" data-target="#myModal">
        <h4>Add a project</h4>
      </div>
      <h1 class='text-center small-padded'>My projects</h1>
      <% @projects_admin.sort_by(&:deadline).each do |project| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to project_path(project), class: "no-underline" do %>
            <div class="new-card">
              <div class="left-card">
                <div class="top-card">
                  <% if project.photo? %>
                    <%= image_tag project.photo.url(:standard), class: "company-card" %>
                  <% end %>
                  <h4><%= project.title %></h4>
                  <p>
                    <%= project.deadline.strftime("%m/%d/%Y") %>
                  </p>
                </div>
                <div class="users-card">
                  <% project.users.each do |user| %>
                    <% unless project.admin == user %>
                      <%= cl_image_tag user.photo, width: 50, height: 50, class: "avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="right-card">
                <div class="progress-bar-home">
                  <figure data-skill="72" data-skill-size="200"></figure>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-add" data-toggle="modal" data-target="#myModal">
          <%= image_tag "plus.svg", class: "card-plus" %>
        </div>
      </div>
    </div>
    <h1 class='text-center small-padded'>My contributions</h1>
    <% @projects_collaborator.sort_by(&:deadline).each do |project| %>
      <% unless project.admin == current_user %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to project_path(project), class: "no-underline" do %>
            <div class="new-card">
              <div class="left-card">
                <div class="top-card">
                  <% if project.photo? %>
                    <%= image_tag project.photo.url(:standard), class: "company-card" %>
                  <% end %>
                  <h4><%= project.title %></h4>
                  <p>
                    <%= project.deadline.strftime("%m/%d/%Y") %>
                  </p>
                </div>
                <div class="users-card">
                  <% project.users.each do |user| %>
                    <% unless project.admin == user %>
                      <%= cl_image_tag user.photo, width: 50, height: 50, class: "avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="right-card">
                <div class="progress-bar-home">
                  <figure data-skill="72" data-skill-size="200"></figure>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modal Creation -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">My New Project</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/create-project', project: @project, remote: true %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Members -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Team time</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/create-user_project', user_project: UserProject.new, remote: true %>
      </div>
    </div>
  </div>
</div>



