<% @project.users.each do |user|  %>
  <%= user.first_name %>
<% end %>
<div class="admin-panel">
  <div class="slidebar">
      <ul>
          <li><a href="" name="tab1"><%= @project.title %><%= cl_image_tag(@project.photo, width: 150, height: 150, crop: :thumb, gravity: :face) %><%= @project.deadline.strftime("%m/%d/%Y") %></a></li>
            <!-- Display Project's Milestone and Milestone's Submilestones  -->
            <% @project.milestones.each do |milestone| %>
              <li><a href="" name="tab2"><i class="fa fa-eyedropper"></i><%= milestone.title %></a></li>
            <% end %>
      </ul>
  </div>

<!-- On click of slide bar element -->
  <div class="main">
    <!-- First tab will display User's Project  -->
       <div id="tab1"><h2 class="header">Dashboard</h2></div>
        <!-- Other's tab will display submilestones element  -->
        <% @project.milestones.each do |milestone| %>
          <% milestone.sub_milestones.each do |sub_milestone| %>
            <div id="tab2"><h2 class="header"><%= sub_milestone.title %></h2></div>
          <% end %>
        <% end %>
  </div>
</div>



