<div class="container showproject">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xs-3 sidebar tabs">
      <%= link_to "Back to my projects", projects_path, class: "btn btn-orange", id: "backtomyprojects"  %>
      <div class="milestone-recap <%= @selected_milestone_id ? nil : 'active' %>" data-target="#recap">
        <div class="logo-client"><%= cl_image_tag(@project.photo, width: 125, height: 75) %></div>
        <div class="project-title"><strong><%= @project.title %></strong></div>
      </div>
      <div class="project-deadline"><%= @project.deadline.strftime("%m/%d/%Y") %></div>
      <!-- Display all the milestones of the project-->
      <div class="milestones navigation" id="items">
        <% @project.milestones.each do |milestone| %>
          <div class="li-milestone tab  <%= set_active_milestone(milestone) %>" data-target="#<%= milestone.title.parameterize %>" data-id="<%= milestone.id %>">
            <div class="title-milestone">
              <%= milestone.title %>
              <% if current_user == @project.admin %>
                <%= link_to "", milestone_path(milestone), method: :delete, data: { confirm: "Are you sure ?", project_id: @project}, class: "fa fa-trash " %>
              <% end %>
            </div>
            <!-- Display progress bar of the milestone-->
            <div id="milestone-progress-<%= milestone.id %>">
              <%= render 'milestones/progress', milestone: milestone  %>
            </div>
          </div>
        <% end %>
      </div>
        <!-- Add milestone-->
        <div class="li-milestone tab" id="ActionAddingAmilestone", data-toggle="modal" data-target="#addAMilestone"">
          <div class="title add-milestone">
            <i class="icon fa fa-plus"></i>
            Add a milestone
          </div>
        </div>
        <!-- Display team members-->
        <div class=" team-members text-center">Your dream team</div>
        <div class="li-team">
          <div class="team">
            <% @project.users.each do |user| %>
              <% unless @project.admin == user %>
                <%= cl_image_tag user.photo, width: 50, height: 50, class: "avatar" , title: user.first_name, 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if current_user == @project.admin %>
          <div class="editproject">
            <%= link_to "Edit project", edit_project_path(@project) %>
          </div>
        <% end %>
    </div>
    <!-- content on the right -->
    <div class="col-xs-9">
      <!-- new row to build two elements inside -->
      <div id="recap" class="card-comment">
        <h2><%= @project.title %></h2>
        <p><%= @project.description %></p>
        <% if @project.brief %>
          <%= @project.brief %>
        <% end %>
      </div>
    <div class="content-milestones tab-content" id="project-firsttime">
      <h2> Welcome to the control page of your project </h2>
      <h3>Don't forget that you can: </h3>
      <p>Add a milestone</p>
      <p>Add a submilstone</p>
      <p>Upload a document</p>
      <p>Download a document</p>
      <p>And of course, leave comments</p>
      <p>Have fun !</p>
    </div>

      <div class="row">


        <!-- content of the milestone  -->
        <% @project.milestones.each do |milestone| %>
          <div class="col-xs-12">
            <div class="content-milestones tab-content hidden" id="<%= milestone.title.parameterize %>">
            <h2><%= milestone.title %></h2>
            <div class="border"></div>
              <!-- this will build a submilestone of the milestone  -->
              <div class="ajax-submilestone-card" id="generation-<%= milestone.title.parameterize %>">
              <% milestone.sub_milestones.order(:id).each do |sub_milestone| %>
                  <%= render 'sub_milestones/submilestones_card', sub_milestone: sub_milestone, milestone: milestone %>
              <% end %>
              </div>
              <%= render 'shared/submilestone', milestone: milestone, project: @project%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






<!-- modal add a milestone -->
<div class="modal fade" id="addAMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add your milestone</h4>
      </div>
      <div class="modal-body">
        <%= render "shared/create_milestone", project: @project, milestone: Milestone.new %>
      </div>
    </div>
  </div>
</div>







