<div class="projectshow">
<%= link_to  "< Back to my projects", projects_path%>
  <div class="container-general">
    <div class="sidebar tabs" >
        <div class="ol-navigation">
          <div class= "shepherd-theme-arrows" id="hero-example">
            <div class="li-navigation">
              <div class="li-milestone-recap tab <%= @selected_milestone_id ? nil : 'active' %>" data-target="#recap">
                <div class="logo-client"><%= cl_image_tag(@project.photo, width: 75, height: 75) %></div>
                <div class="project-title"><strong><%= @project.title %></strong></div>
                <div class="project-deadline"><%= @project.deadline.strftime("%m/%d/%Y") %></div>
              </div>
            </div>
          </div>
            <div class="ol-navigation" id="items">
            <% @project.milestones.each do |milestone| %>
              <div class="li-milestone tab  <%= set_active_milestone(milestone) %>" data-target="#<%= milestone.title.parameterize %>" data-id="<%= milestone.id %>">
                <div class="title">
                  <%= milestone.title %>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  60%
                  </div>
                </div>
                </div>
              <% end %>
            </div>
            <div class="li-milestone tab" data-toggle="modal" data-target="#addAMilestone">
            <div class="title add-milestone">
              <i class="icon fa fa-plus"></i>
              Add a milestone
              </div>
            </div>
          </div>

            <div class="li-team" id="deudeu">
              <div class="text-center bold"><strong>Your team</strong></div>
              <div class="team">
                <% @project.users.each do |user| %>
                  <% unless @project.admin == user %>
                    <%= cl_image_tag user.photo, width: 50, height: 50, class: "avatar" %>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>

  <!-- Display submilestone content when click on the milestone on the sidebar -->

  <div class="content-milestones tab-content" id="recap">
    <h2>Project Brief</h2>
  </div>

  <% @project.milestones.each do |milestone| %>
    <div class="content-milestones tab-content hidden" id="<%= milestone.title.parameterize %>">
      <h2><%= milestone.title %></h2>

      <ul class="submilestones list-unstyled">

        <% milestone.sub_milestones.each do |sub_milestone| %>
          <div class="submilestone">
            <li>
              <%= sub_milestone.title %>
            </li>
            <ul class='list-unstyled list-inline'>
              <li>
              <p class="display-comment"> Comment (<%= sub_milestone.comments.count %>)</p>
              <div class="card-comment">
                <% sub_milestone.comments.each do |comment| %>
                  <div class="comment">
                    <%= cl_image_tag comment.user.photo, class:"avatar" %>
                    <%= comment.content %>
                  </div>
                <% end %>
                <%= render 'shared/comment', sub_milestone: sub_milestone %>
              </div>
              </li>
              <li>
                <p class="display-files">File</p>
              </li>
            </ul>
        </div>
      <% end %>

      <%= render 'shared/submilestone', milestone: milestone, project: @project %>
    </ul>
  </div>
<% end %>
</div>

<div class="modal fade" id="addAMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add your milestone</h4>
      </div>
      <div class="modal-body">
        <%= render "shared/create_milestone", project: @project, milestone: Milestone.new %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>


