<div class="container-general">
    <div class="sidebar tabs">
      <div class="ol-navigation">
        <div class="li-navigation">
          <div class="li-milestone-recap tab active" data-target="#recap">
            <div class="logo-client"><%= cl_image_tag(@project.photo, width: 80, height: 40, crop: :thumb, gravity: :face) %></div>
            <div class="project-title"><%= @project.title %></div>
            <div class="project-deadline"><%= @project.deadline.strftime("%m/%d/%Y") %></div>
          </div>
              <% @project.milestones.each do |milestone| %>
              <div class="li-milestone tab" data-target="#<%= milestone.title %>">
                <i class="icon fa fa-eyedropper"></i>
                <div class="title"><%= milestone.title %>
                <span class="progress-bar"></span>
                </div>
              </div>
              <% end %>
          <div class="li-milestone tab" data-toggle="modal" data-target="#addAMilestone">
            <i class="icon fa fa-plus"></i>
            <div class="title">Add a milestone</div>
          </div>
        </div>
      </div>
    </div>

  <!-- Display submilestone content when click on the milestone on the sidebar -->
  <div class="content-submilestones tab-content" id="recap">
    <h2>Project Brief</h2>
    <div class="submilestones">
      <h5>They work on <%= @project.title %> : </h5>
      <% @project.users.each do |user|  %>
        <%= user.first_name %>
      <% end %>
    </div>
  </div>
  <% @project.milestones.each do |milestone| %>
     <div class="content-submilestones tab-content hidden" id="<%= milestone.title %>">
      <h2><%= milestone.title %></h2>
        <div class="submilestones">
          <h6>A submilestone</h6>
        </div>
    </div>
  <% end %>

</div>


<div class="modal fade" id="addAMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add your milestone</h4>
      </div>
      <div class="modal-body">
        <%= render "shared/create_milestone", project: @project, milestone: Milestone.new, remote: true %>
      </div>
      </div>
    </div>
  </div>
</div>
